Iniciando a uniação e validação das bases de dados extraidas

In [35]:
import pandas as pd

pd.set_option('display.max_columns', None)
path = r'C:\Users\USER\Desktop\GitHub\Brasileirao-Analise\1. Data\Transformed'

In [ ]:
#Games 
df_list = []
for i in range(1, 8):
    df = pd.read_excel(path + f'\\0{i}_games.xlsx')
    df_list.append(df)

# df_1 = pd.read_excel(path + r'\01_games.xlsx')
# df_2 = pd.read_excel(path + r'\02_games.xlsx')
# df_3 = pd.read_excel(path + r'\03_games.xlsx')
# df_4 = pd.read_excel(path + r'\04_games.xlsx')
# df_5 = pd.read_excel(path + r'\05_games.xlsx')
# df_6 = pd.read_excel(path + r'\06_games.xlsx')
# df_7 = pd.read_excel(path + r'\07_games.xlsx')

Visão geral de cada um das bases de dados, escolha dos principais atributos para avaliar público.

DF2 removido, não tem identificação explicita de partida, ano! da pra fazer mas as outras bases de dados já são suficientes.

In [45]:
db_id = 1  # 0 - 6
display(df_list[db_id].describe())
display(df_list[db_id].head(-3))
display(df_list[db_id].info())

               ID       rodata  mandante_Placar  visitante_Placar
count  8405.00000  8405.000000      8405.000000       8405.000000
mean   4203.00000    20.133254         1.541225          1.027008
std    2426.45884    11.444643         1.230607          1.027170
min       1.00000     1.000000         0.000000          0.000000
25%    2102.00000    10.000000         1.000000          0.000000
50%    4203.00000    20.000000         1.000000          1.000000
75%    6304.00000    30.000000         2.000000          2.000000
max    8405.00000    46.000000         7.000000          7.000000

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
0,1,1,29/03/2003,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,Brinco de Ouro,4,2,SP,RJ
1,2,1,29/03/2003,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,Arena da Baixada,2,0,PR,RS
2,3,1,30/03/2003,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,Maracanã,1,1,RJ,PR
3,4,1,30/03/2003,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,-,Serra Dourada,2,2,GO,PA
4,5,1,30/03/2003,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,Beira Rio,1,1,RS,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8397,8398,38,06/12/2023,21:32,Coritiba,Corinthians,4-2-3-1,4-3-3,A. Ferreira,L. Venker de Menezes,Corinthians,Couto Pereira,0,2,PR,SP
8398,8399,38,06/12/2023,21:32,Fluminense,Gremio,4-2-3-1,4-3-3,F. Diniz Silva,Renato Gaúcho,Gremio,Maracanã,2,3,RJ,RS
8399,8400,38,06/12/2023,21:32,Cruzeiro,Palmeiras,4-3-3,3-4-1-2,P. Autuori de Mello,A. Moreira Ferreira,-,Mineirão,1,1,MG,SP
8400,8401,38,06/12/2023,21:32,Bahia,Atletico-MG,3-4-2-1,4-4-2,R. Ceni,L. Scolari,Bahia,Itaipava Arena Fonte Nova,4,1,BA,MG
8401,8402,38,06/12/2023,21:32,Cuiaba,Athletico-PR,5-3-2,3-4-3,A. Cardoso de Oliveira,W. Carvalho,Cuiaba,Arena Pantanal,3,0,MT,PR

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8405 entries, 0 to 8404
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  8405 non-null   int64
 1   rodata              8405 non-null   int64
 2   data                8405 non-null   object
 3   hora                8405 non-null   object
 4   mandante            8405 non-null   object
 5   visitante           8405 non-null   object
 6   formacao_mandante   3431 non-null   object
 7   formacao_visitante  3431 non-null   object
 8   tecnico_mandante    3795 non-null   object
 9   tecnico_visitante   3795 non-null   object
 10  vencedor            8405 non-null   object
 11  arena               8405 non-null   object
 12  mandante_Placar     8405 non-null   int64
 13  visitante_Placar    8405 non-null   int64
 14  mandante_Estado     8405 non-null   object
 15  visitante_Estado    8405 non-null   object
dtypes: int64(4), object(12)
memory usage: 1.0+ MB

None

Padronizar data, mandante e visitante para indexar arquivos e agrupalos

In [47]:
mapeamento_colunas = {
    'data': 'Data',
    'Date': 'Data',
    'data_partida': 'Data',
    'time_mandante': 'Mandante',
    'madante': 'Mandante',
    'Home': 'Mandante',
    'time_visitante': 'Visitante',
    'visitante': 'Visitante',
    'Away': 'Visitante',
}

df_list_map = [df.rename(columns=mapeamento_colunas) for df in df_list]

for i in range(len(df_list)):
    df_list_map[i].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8453 entries, 0 to 8452
Data columns (total 35 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ano_campeonato                  8453 non-null   int64
 1   Data                            8453 non-null   object
 2   rodada                          8453 non-null   int64
 3   estadio                         8442 non-null   object
 4   arbitro                         6743 non-null   object
 5   publico                         6742 non-null   float64
 6   publico_max                     4181 non-null   float64
 7   Mandante                        8453 non-null   object
 8   Visitante                       8453 non-null   object
 9   tecnico_mandante                6299 non-null   object
 10  tecnico_visitante               6299 non-null   object
 11  colocacao_mandante              6743 non-null   float64
 12  colocacao_visitante             6743 non-null   float64
 13  valor_equipe_titular_mandante   6355 non-null   float64
 14  valor_equipe_titular_visitante  6355 non-null   float64
 15  idade_media_titular_mandante    6353 non-null   float64
 16  idade_media_titular_visitante   6353 non-null   float64
 17  gols_mandante                   8452 non-null   float64
 18  gols_visitante                  8452 non-null   float64
 19  gols_1_tempo_mandante           6732 non-null   float64
 20  gols_1_tempo_visitante          6732 non-null   float64
 21  escanteios_mandante             2087 non-null   float64
 22  escanteios_visitante            2087 non-null   float64
 23  faltas_mandante                 2087 non-null   float64
 24  faltas_visitante                2087 non-null   float64
 25  chutes_bola_parada_mandante     2087 non-null   float64
 26  chutes_bola_parada_visitante    2087 non-null   float64
 27  defesas_mandante                2087 non-null   float64
 28  defesas_visitante               2087 non-null   float64
 29  impedimentos_mandante           2087 non-null   float64
 30  impedimentos_visitante          2087 non-null   float64
 31  chutes_mandante                 2087 non-null   float64
 32  chutes_visitante                2087 non-null   float64
 33  chutes_fora_mandante            2087 non-null   float64
 34  chutes_fora_visitante           2087 non-null   float64
dtypes: float64(26), int64(2), object(7)
memory usage: 2.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8405 entries, 0 to 8404
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  8405 non-null   int64
 1   rodata              8405 non-null   int64
 2   Data                8405 non-null   object
 3   hora                8405 non-null   object
 4   mandante            8405 non-null   object
 5   Visitante           8405 non-null   object
 6   formacao_mandante   3431 non-null   object
 7   formacao_visitante  3431 non-null   object
 8   tecnico_mandante    3795 non-null   object
 9   tecnico_visitante   3795 non-null   object
 10  vencedor            8405 non-null   object
 11  arena               8405 non-null   object
 12  mandante_Placar     8405 non-null   int64
 13  visitante_Placar    8405 non-null   int64
 14  mandante_Estado     8405 non-null   object
 15  visitante_Estado    8405 non-null   object
dtypes: int64(4), object(12)
memory usage: 1.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7266 entries, 0 to 7265
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rodada            7266 non-null   int64
 1   Data              7266 non-null   object
 2   Horário           7255 non-null   object
 3   Dia               7266 non-null   object
 4   Mandante          7266 non-null   object
 5   Visitante         7266 non-null   object
 6   Vencedor          7266 non-null   object
 7   Arena             7266 non-null   object
 8   Mandante Placar   7266 non-null   int64
 9   Visitante Placar  7266 non-null   int64
 10  Estado Mandante   7266 non-null   object
 11  Estado Visitante  7266 non-null   object
 12  Estado Vencedor   7266 non-null   object
dtypes: int64(3), object(10)
memory usage: 738.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8025 entries, 0 to 8024
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  8025 non-null   int64
 1   rodata              8025 non-null   int64
 2   Data                8025 non-null   object
 3   hora                8025 non-null   object
 4   mandante            8025 non-null   object
 5   Visitante           8025 non-null   object
 6   formacao_mandante   3051 non-null   object
 7   formacao_visitante  3051 non-null   object
 8   tecnico_mandante    3415 non-null   object
 9   tecnico_visitante   3415 non-null   object
 10  vencedor            8025 non-null   object
 11  arena               8025 non-null   object
 12  mandante_Placar     8025 non-null   int64
 13  visitante_Placar    8025 non-null   int64
 14  mandante_Estado     8025 non-null   object
 15  visitante_Estado    8025 non-null   object
dtypes: int64(4), object(12)
memory usage: 1003.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4950 entries, 0 to 4949
Data columns (total 22 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    4950 non-null   object
 1   League     4950 non-null   object
 2   Season     4950 non-null   int64
 3   Data       4950 non-null   datetime64[ns]
 4   Time       4950 non-null   object
 5   Mandante   4950 non-null   object
 6   Visitante  4950 non-null   object
 7   HG         4949 non-null   float64
 8   AG         4949 non-null   float64
 9   Res        4949 non-null   object
 10  PSCH       4949 non-null   float64
 11  PSCD       4949 non-null   float64
 12  PSCA       4949 non-null   float64
 13  MaxCH      4950 non-null   float64
 14  MaxCD      4950 non-null   float64
 15  MaxCA      4950 non-null   float64
 16  AvgCH      4950 non-null   float64
 17  AvgCD      4950 non-null   float64
 18  AvgCA      4950 non-null   float64
 19  BFECH      245 non-null    float64
 20  BFECD      245 non-null    float64
 21  BFECA      245 non-null    float64
dtypes: datetime64[ns](1), float64(14), int64(1), object(6)
memory usage: 850.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5378 entries, 0 to 5377
Data columns (total 48 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Visitante                      5378 non-null   object
 1   resultado                      5378 non-null   object
 2   Data                           5378 non-null   object
 3   placar_visitante               5378 non-null   int64
 4   hora_partida                   1958 non-null   object
 5   mandante                       5378 non-null   object
 6   placar_mandante                5378 non-null   int64
 7   estadio                        1956 non-null   object
 8   mandante_gols_fora_casa        5378 non-null   int64
 9   mandante_empates_fora_casa     5378 non-null   int64
 10  mandante_total_jogos           5378 non-null   int64
 11  mandante_gols_casa             5378 non-null   int64
 12  mandante_jogos_fora_casa       5378 non-null   int64
 13  mandante_vitorias_casa         5378 non-null   int64
 14  mandante_derrotas_casa         5378 non-null   int64
 15  mandante_total_pontos          5378 non-null   int64
 16  mandante_empates_casa          5378 non-null   int64
 17  mandante_pontos_fora_casa      5378 non-null   int64
 18  mandante_total_gols_sofridos   5378 non-null   int64
 19  mandante_total_vitorias        5378 non-null   int64
 20  mandante_vitorias_fora_casa    5378 non-null   int64
 21  mandante_total_derrotas        5378 non-null   int64
 22  mandante_pontos_casa           5378 non-null   int64
 23  mandante_derrotas_fora_casa    5378 non-null   int64
 24  mandante_total_gols_marcados   5378 non-null   int64
 25  mandante_jogos_casa            5378 non-null   int64
 26  mandante_total_empates         5378 non-null   int64
 27  visitante_gols_fora_casa       5378 non-null   int64
 28  visitante_empates_fora_casa    5378 non-null   int64
 29  visitante_total_jogos          5378 non-null   int64
 30  visitante_gols_casa            5378 non-null   int64
 31  visitante_jogos_fora_casa      5378 non-null   int64
 32  visitante_vitorias_casa        5378 non-null   int64
 33  visitante_derrotas_casa        5378 non-null   int64
 34  visitante_total_pontos         5378 non-null   int64
 35  visitante_empates_casa         5378 non-null   int64
 36  visitante_pontos_fora_casa     5378 non-null   int64
 37  visitante_total_gols_sofridos  5378 non-null   int64
 38  visitante_total_vitorias       5378 non-null   int64
 39  visitante_vitorias_fora_casa   5378 non-null   int64
 40  visitante_total_derrotas       5378 non-null   int64
 41  visitante_pontos_casa          5378 non-null   int64
 42  visitante_derrotas_fora_casa   5378 non-null   int64
 43  visitante_total_gols_marcados  5378 non-null   int64
 44  visitante_jogos_casa           5378 non-null   int64
 45  visitante_total_empates        5378 non-null   int64
 46  rodada                         5378 non-null   int64
 47  ano campeonato                 5378 non-null   int64
dtypes: int64(42), object(6)
memory usage: 2.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7600 entries, 0 to 7599
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Temporada                   7600 non-null   int64
 1   Série                       7600 non-null   object
 2   Número do Jogo              7600 non-null   int64
 3   Rodada                      7600 non-null   int64
 4   Turno                       7600 non-null   int64
 5   Estádio                     7600 non-null   object
 6   Cidade                      7600 non-null   object
 7   UF                          7600 non-null   object
 8   Data                        7600 non-null   object
 9   Dia da Semana               7600 non-null   object
 10  Hora                        7600 non-null   object
 11  Mandante                    7600 non-null   object
 12  UF Mandante                 7600 non-null   object
 13  Gol Mandante                7600 non-null   int64
 14  Gol Visitante               7600 non-null   int64
 15  Visitante                   7600 non-null   object
 16  UF Visitante                7600 non-null   object
 17  Gols no Jogo                7600 non-null   int64
 18  Resultado                   7600 non-null   object
 19  Resultado Mandante          7600 non-null   object
 20  Resultado Visitante         7600 non-null   object
 21  Placar                      7600 non-null   object
 22  Link do Jogo                7600 non-null   object
 23  Data de Início da Consulta  7600 non-null   object
 24  Data de Fim da Consulta     7600 non-null   object
dtypes: int64(7), object(18)
memory usage: 1.4+ MB